<% content_for :header_title, 'My Tasks' %>
<% content_for :page_title,
  raw(
    'My Tasks ' +
    content_tag(:small, link_to('show all tasks', root_path))
  )
%>

<div id="form-container">
  <%= render 'form', task: Task.new %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tasks">
    <%= render @tasks %>
  </tbody>
</table>
