<% content_for :header_title, 'My Tasks' %>
<% content_for :page_title,
  raw(
    'My Tasks ' +
    content_tag(:small, link_to('show all tasks', root_path))
  )
%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= task.description %>
      </td>
      <td>
        <%= t task.state, scope: [:task, :state] %>
      </td>
      <td>
        <%= l task.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
